{% extends 'music_nation/base.html' %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css' %}" integrity="undefined" crossorigin="anonymous">
      {% block content %}
<hr/>
  
  
  <div>
  <h1>About Us</h1>
  <img class="image-box" src="{% static 'music_nation/img/aboutpic.jpg' %}" alt="music" style="
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;">
    <hr/>
    
  <p class="text" style="margin-left:31%;">
    <b>Rijal Construction and Builders PVT. LTD.</b>

  </p>
  </div>

<hr/>
<footer>
<div style= "
color: black;
margin: 0;
top:100%;
position: absolute;
left: 1450px;
margin-right: -1000px;
transform: translate(-1000px, -10px); font-size:40px;">
  <p class="text">
<b style="
color: black;
top: 1000%;
position: fixed;
left: 0;
bottom: 0;
width: 620px;
height: 100px;
background-color:lightgray; 
background-image: linear-gradient( red , grey);
">
Rijal Constructions and Builders PVT. LTD.
</b>
  </p>
</div>
<div class="social-menu" >
  <h1><b>Our Social Handle</b></h1>
  <ul>
    <li><a href="https://www.facebook.com/profile.php?id=100054290979896"><i class="fab fa-facebook"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/sujit.upadhyaya/?utm_medium=copy_link&fbclid=IwAR1bI1pYqiCr3OGVCXwY7VYzjMiOyun_OvbCD0N_2SO80gBwhAGuTJUMD38"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UC10hnWetoFAh48LYwSsOdWw"><i class="fab fa-youtube"></i></a></li>
    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
  </ul>
</div>
</footer>
{% endblock content %}
 